/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

#root {
  max-width: 1280px;
  margin: 0 auto;

  /* padding: 2rem; */
  /*  */
  /* text-align: center; */
  /*  */
  /* background-color: #022626; */
  /* background-image: url(../src/assets/background-dark.jpg); */

  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-green
     hover:bg-dark-green
     dark:bg-pink
     dark:hover:bg-light-pink
     text-white-pink py-3 my-3 rounded-xl font-bold font-btn w-full;
  }

  .btn-small {
    @apply bg-green
    hover:bg-dark-green
    dark:bg-pink
    dark:hover:bg-light-pink text-white-pink rounded-md ml-2 px-3;
  }

  .checkbox-primary {
    @apply form-checkbox ml-3 h-5 w-5 rounded-md
    dark:border-pink
    border-green
    dark:checked:bg-pink
    checked:bg-green
    dark:bg-white-pink
    bg-white-pink
    active:bg-white-pink dark:active:bg-white-pink
    hover:bg-white-pink checked:hover:bg-dark-green
    dark:hover:bg-light-pink
    focus:bg-white-pink dark:focus:bg-white-pink
    checked:focus:bg-green dark:checked:focus:bg-pink dark:focus:ring-pink focus:ring-green;
  }

  .react-calendar__tile--active {
    @apply bg-green;
  }
}

.react-calendar__tile--now {
  background: #f2bbc9;
  font-weight: 900;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #fff6f8;
}

.react-calendar__tile:enabled:hover {
  background-color: #d97e96;
}

.react-calendar__tile:enabled:focus {
  background: #025e73;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #025e73;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #fff6f8;
}

.available-date {
  cursor: pointer;
}

.unavailable-date {
  background-color: orange;
}

.selected-date {
  background-color: cadetblue;
}
